<!-- Need to tell the "compiler" what it's looking at -->
<!DOCTYPE html>


<!--Welcome to HTML!
    This tutorial was written with reading in SublimeText in mind. I recommend it's read that way for colors and such

    This programming language is very strange and doesn't care if you're dumb sometimes
    One of the earliest things you'll encounter is something called a 'div'
    'div' itself doesn't mean much, but rather serves as a separator for sections of html -->
<div></div>
<!--Above you'll see that we start a 'section' of html with these braces: <>
    We close the section with </>

    Below are more examples of what is 'legal'-->
<!--Built in Paragraph label-->
  <p></p>
<!--Built in Header label-->
  <h1></h1>


<!--In order to continue, let's jump into an actual html document. We have a header here '<html>'
    which you'll see is closed by a '</html>' at the end of the document.-->
<html>

<!-- This will show up in the webpage -->
<div>Hello</div>
<!--The following line causes a line feed character. Basically like pressing 'return' on your keyboard-->
<br></br>
<!-- Because HTML is dumb, this also shows up in the page, it's bad practice though so don't do it -->
This is dumb

<!-- More interestingly, we can look at the built in labels to html and then modify them ourselves -->
<h1>Built-in Header class</h1>
<!-- Here's some examples of adding color to a div element. It makes it red!-->
<div style="color: red"> RED! </div>
<div style="background-color:pink"> Poop </div>
<br></br>
<br></br>





<!--It's rather annoying to put this is front of every element we want it to be applied to.
    We'll now introduce something called 'style'.-->
<style>
/*Note the change in how we do comments in this section
  'style' the name of a section, like 'html' we put above. It should not contain any elements within it,
  and anything in this section won't show up*/
<div>I'm invisible!</div>


/* Within the style section, we can define styles in one easy to read place
    There are two types we can declare: 'class' and 'div'
      'class' can be applied to multiple 'div' things
        defined by '.'
      'id' should only be applied to a single element
        defined by '#'
*/
/*Example of a class*/
.classdemo {
  color: red;
}
/*Example of an id*/
#iddemo {
  background-color: pink;
  color: blue;
}
</style>

<!-- Classes can apply to more than 1 div element-->
<div class = "classdemo"> Red! </div>
<div class = "classdemo"> Red still! </div>
<!-- Id's act the same, but in javascript can only reference to one thing this'll be explained later-->
<div id = "iddemo">Pink Background!</div>
<div id = "iddemo">Also Pink Background! Don't do repeat id's though</div>
<!-- One thing that is nice for quick fixes is that id's take priority over classes-->
<div id = "iddemo" class = "classdemo"> ID's have priority so this isn't red</div>



<!--Let's put it all together now and do something fancy-->
<style>
/*Refers to portrait class and then refers to nested img class in portrait*/
.portrait img {
  border-radius: 93px;
}

/*first-child will choose the first element in the children of the class. In this case it will be a photo*/
.portrait img:first-child {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease;
}
/*Changes the picture on hover of mouse*/
.portrait img:first-child:hover{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.portrait p,
.portrait h1 {
  color: black;
}

.portrait{
  cursor:pointer; cursor:hand;
}
/*Hides things*/
.parent .info{
  display: none;
}

</style>

<!--Body section is where most of the content will go-->
<body>
  
  <div class="portrait picture2">
      <img src="../images/portrait/ac.jpg">
      <img src="../images/portrait/ac-flip.jpg">
      <div> Alan Cooper </div>
      <p> Internal JO </p>
    </div>  




  <div class = "parent">
    <div class="info">Nope</div>
  </div>
    <div class="info">Help</div>

</body>

<!--import javascript-->
<script src = "../js/jquery-2.1.4.js"></script>

<!--Script is all the fancy things you can do on webpages
    It powers the charts and fancy sliding on the various webpages for texastasa
    It also is like style and body where it is a reserved type
  -->
<script>
  //Notice in the two lines below that javascript doesn't care whether or not I close things with a ';'
  //It's kinda dumb... but don't do this because it makes things hard to read
  var inf = "info";
  var filling = "Hello!"
  
  /* This changes demonstrates console.log (ctrl+shift+i to open
   *    the developer console)
   * Also demonstrates changing innerHTML and getting elements by 
   *    designation (getElementByID). Getting elements by this 
   *    function is weird and you might have to play with it to
   *    fully understand what it grabs
   */
  $(".picture1").click(function(){  //.picture1 is a class that you can assign in the main body or header or w/e
    filling = document.getElementsByClassName(inf);
    console.log(filling[1].innerHTML);
    filling[1].innerHTML = "Hello!";
  });

  /* This demonstrates some javascript tools such as sliding down
   */ 
  $(".picture2").click(function(){
    filling = document.getElementsByClassName("info");//can call the item directly or by variable (see the difference in .picture1 and .picture2 for this line)
    $(filling[0]).slideDown("fast");
  });

  /* This demonstrates how similar this is to java,
   * You can use getElementByID() I believe to grab ID's instead
   *    of elements
   * Also demonstrates parentNode (whatever node contains the one
   *    you access)
   */
  var flag = 0; // 0 = not showing, 1 = showing
  $(".picture3").click(function(){
    filling = document.getElementsByClassName("info");
    if(flag==0)
      {$(filling[0]).slideDown("slow"); flag=1;}
    else
      {$(filling[0]).slideUp("slow"); flag=0}
    console.log(filling[0].parentNode);
  });

</script>
</html>

<!-- Your challenges! 
  If you want to try them, I recommend you do. I worked hard on these =(. Google and W3 schools is your friend. Feel free to ask me questions about anything!
  (Answers are at the bottom of the document but don't cheat unless you can't figure it out :3)
  
  1. Change your pictures to someone else! (this requires changing like 4 letters in the 'portrait' declared in the body)
      
      Tests Simple understanding of how images are referenced and where images are organized in the TASA folder. (note that some images are .jpg and not .png)


  2. Add another portrait of someone else to the page! Then change it so that the pictures are right next to each other.
     This requires you to format the page a little more. Reference the about page and the CSS (the .about elements) to understand what formatting is used. 
     Hint: Remember that "row" and "three" are separate classes when "row three" is used to declare a formatting
     Notice when the body is declared on a page we add the 'about' class so elements within this can be referenced correctly from the CSS 
        <div class="body-content wrap clearfix about load" id="main-container">
        
        You'll learn to navigate the freaking long CSS sheet to find how you specify elements to a specific page.


  3. Make it so that the second picture appears above the first without changing the order inside the <body>. Then, make it so that on hover it fades away showing the picture beneath it! (use the <style>, 'second-child' is not a thing but you can google this to find out what is a thing)
        
        Challenge to teach you positioning (relative vs absolute vs static) and opacity, and maybe other stuff depending on how you approach this
  

  4. Change your name to "Potato" by using javascript on click!
     Console.log() is your friend here. I used it a lot to find the solution to this. (to open the developer console use ctrl+shift+i, or go to the browser and find where it says "Developer Tools" under tools, at least on Chrome)
        
        Learn to use 'childNodes', learn how HTML organizes information, and learn how to access that information when writing functions
-->



<!--
  STOP HERE UNLESS YOU'RE LOOKING FOR THE ANSWERS TO CHALLENGES.
  Scroll down further to find them
-->


















<!--  Answers to Challenges!
  1. Change the img src to these lines  
    <img src="../images/portrait/bs.jpg">
    <img src="../images/portrait/bs-flip.jpg">




  2. Add this style from the CSS, then append a larger encompassing div class that has this class name
    .sideBySide{   
      display: flex;
    }
    <div class = "sideBySide">
      Stuff~~
    </div>





  3.  Replace the img stylings with this! except for the radius thing
      .portrait img:nth-child(2) {
          position: relative;
          opacity: 1;
          transition: opacity 0.5s ease;
      }

      .portrait img:nth-child(2):hover{
          opacity: 0;
          transition: opacity 0.5s ease;
      }

      .portrait img:first-child {
          position:absolute;
          opacity: 1;
      }





    4. The developer console will show a lot of crap when you console.log 'filling'. You can navigate through it and it kinda looks like an array. Just pick out what you want and remember to use innerHTML to get what's actually inside.

    $(".picture5").click(function() {
      filling = document.getElementsByClassName("portrait");
      filling[0].childNodes[5].innerHTML = "Potato";
    });


-->
