<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | Family</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="current-nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						Together <span class="highlight"><a href="../views/events.html">forever.</a></span>
						<br>
						Never alone.
					</div>
					<div class="triangle"></div>
				</div>
				<img src="../images/hero/25.jpg" alt="">
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class="single">
						<div class="section"> Families: Eeveelutions! </div>
                        <div class="overview-list-item clearfix">
							<img src="../images/icon/Flareon.jpg" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/events/540242649494984/">
									Flareon<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">Burning Passions</span>
								</a>
							</h2>
							<p class="subtext">
								A fire stone turned Eevee into a fluffly ball of embers, but don't get too close. Its body heat can hit over 1500 degrees Farenheight.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/Espeon.png" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/events/540242649494984/">
								Espeon<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">Lighting Up the Sky</span>
								</a>
							</h2>
							<p class="subtext">
								With its psychic powers, Espeon can dominate the competition, and proves an extremely loyal friend.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/Umbreon.png" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/events/540242649494984/">
								Umbreon<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Shadows of Night</span>
								</a>
							</h2>
							<p class="subtext">
								Umbreon's powers become amplified by the moon, allowing it to meld with the darkness and unleash powerful attacks.
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/Jolteon.jpg" alt="">
							<h2 class="title">
								<a href="https://www.facebook.com/events/540242649494984/">
								Jolteon<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Absolutely Stunning</span>
								</a>
							</h2>
							<p class="subtext">
								From spiked fur to an electrifying personality, Jolteon can spark a response from anyone.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>
<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";
		console.log("done")
	}
</script>
</html>


