<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | UT Austin</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
<style>

.tooltip {
	  background: #eee;
	  box-shadow: 0 0 5px #999999;
	  color: #333;
	  display: none;
	  font-size: 12px;
	  left: 130px;
	  padding: 10px;
	  position: absolute;
	  text-align: center;
	  top: 95px;
	  width: 80px;
	  z-index: 2;
}
#pie {
  height: 400px;
  position: relative;
  width: 400px;
  float: left;
  margin-left: -125px;
}

#bar {
  fill: #DF272C;
  position: relative;
  float:right;
}


.axis path {
	display: none;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


.headban{
	font-size: 35px;
	color:red;
	text-align: center;
	font-family: Verdana;
}

/*Stuff for the slide show*/
#container{
	border: 5px solid #DF272C;
	border-radius: 10px;
	width:1024px;
	height:500px;
	position:relative;
	z-index: 1;
}
#container ul{
	width:1024px;
	height:500px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}
#container li:first-child{
	display:list-item;
	position:absolute;
}
#container li{
	position:absolute;
	display:none;
}

</style>


</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left" z-index="2">
					<div class="overlay-text">
						We are awesome.
						<br>
						So learn more <span class="highlight"><a href="../views/about.html">about</a></span> us.
					</div>
					<div class="triangle"></div>
				</div>

				<div id = "container">
					<ul>
						<li><img src="../images/hero/94.jpg"></li>
						<li><img src="../images/hero/91.jpg"></li>
						<li><img src="../images/hero/92.jpg"></li>
						<li><img src="../images/hero/93.jpg"></li>
						<li><img src="../images/hero/90.jpg"></li>
						<li><img src="../images/hero/95.jpg"></li>
						<li><img src="../images/hero/96.jpg"></li>
						<li><img src="../images/hero/97.jpg"></li>
					</ul>
				</div>
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class = "headban"> Have a great Spring Break!</div>
					<div class="single">
						<div class="section">Upcoming Events</div>

						<!--<div class="overview-list-item clearfix" id="tea">
							<img src="../images/icon/bubble.png">
							<h2 class="title"><a href = "https://www.facebook.com/events/380745155632989/">
								Tea Haus Fundraiser!<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								FRIDAYS ♥ 11AM - 2PM ♥ Jester Center</span>	
							<h2>
							<p class="subtext">
							Heard about the craze with Tea Haus but have no way of getting there?
							Don't fear because WE ARE BRINGING BACK TEA HAUS TO YOU! we'll be selling Tea Haus' Boba Milk Tea every Friday!
							1 for $3 and 3 for $5!</p>
						</div>-->


						<div class="overview-list-item clearfix" id = "ev1">
							<img src="../images/icon/lens.png">
							<h2 class="title"><a href = "">
								Dodgeball Social<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Friday, March 24 &emsp;&emsp;&emsp; Belmont 628 @ 5:30pm</span>
							<h2>
							<p class="subtext">
								Ever feel like hitting your friends? Well now you can! Sorta.... Come out to our dodgeball social. It's a blast!
								</p>
						</div>

						<div class="overview-list-item clearfix" id = "ev2">
							<img src="../images/icon/microphone.png">
							<h2 class="title"><a href = "">
								Karaoke Social<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Saturday, April 1st &emsp;&emsp;&emsp; Hi- Tunes Karaoke @ 9pm</span>
							<h2>
							<p class="subtext">
								Think your voice sucks? Don't worry! We do too, but that doesn't matter. Come out and have fun blowing our ears out anyways! You'll make all your friends like it or else.
								</p>
						</div>
						<div class="overview-list-item clearfix" id = "GM">
							<img src="../images/icon/GM1.jpg">
							<h2 class="title"><a href = "">
								General Meeting!<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Wednesday, March 22nd &emsp;&emsp;&emsp; UTC 1.132 @ 7pm</span>
							<h2>
							<p class="subtext">
								Stay tuned for more details!
								</p>
						</div>



					</div>
				</div>

				<div class="table clearfix">
					<div class="half">
						<div class="section">Contacts</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/vc.jpg" alt="">
							<h2 class="title">Valentina Chen <span class="small-font light">President</span></h2>
							<p class="subtext">
								Send all general questions and fan-mail here
								<br>
								Email: tasa.president@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/mt.jpg" alt="">
							<h2 class="title">Max Tang <span class="small-font light">VP-Internal</span></h2>
							<p class="subtext">
								Direct all Junior Officer program and event questions here
								<br>
								Email: tasa.internal@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/jl.jpg" alt="">
							<h2 class="title">Justin Liang <span class="small-font light">VP-External</span></h2>
							<p class="subtext">
								Delegate all cross-club inquires here
								<br>
								Email: tasa.external@gmail.com
							</p>
						</div>
					</div>
					<div class="half">
						<div class="section">Shoutouts<span class="highlight"></span></div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/shipwheel.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://itasa.org/">ITASA</a></h2>
							<p class="subtext">
								Want to get involved and connect with college students from across the country? Get started and build your own Taiwanese American community.
							</p>
						</div>
					</div>
				</div>

				<div class="table clearfix">
					<div class="single">
						<div class="section">Family Scoreboard</div>
					</div>
						<div class="overview-list-item clearfix" id="pie"></div>
						<div class="overview-list-item clearfix" id="bar"></div>
				</div>

			    </div>
			    	<pre id="output"></pre>
				</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2017</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>

<script src="../js/d3-3.5.13.js"></script>
<script src="../js/d3.v3.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src = "../js/jquery-2.1.4.js"></script>
<script src="../js/tabletop.js"></script>
<!--On Load Functions, change page to visible, run pie, run bar-->
<script type="text/javascript">

	//Used to minorly hide the URL of the google doc on the website source code
	var URLKey;
	readTextFile("../views/URL.txt"); //Get the URL of the drive
	function readTextFile(file) {
	    var rawFile = new XMLHttpRequest();
	    rawFile.open("GET", file, false);
	    rawFile.onreadystatechange = function ()
	    {
	        if(rawFile.readyState === 4)
	        {
	            if(rawFile.status === 200 || rawFile.status == 0)
	            {
	                var allText = rawFile.responseText;
	                URLKey = allText;
	            }
	        }
	    }
	    rawFile.send(null);
	}

	

	//Temporary data mapping family to points
	var data = [{"Family":"Sylveon", "points":"5"},
       {"Family":"Glaceon", "points":"5"},
       {"Family":"Vaporeon", "points":"5"}];
    

    //Debugging and the 
	function printstuff(stuff){
		
    	data[0].points = stuff[0].Sylveon;
    	data[1].points = stuff[0].Glaceon;
    	data[2].points = stuff[0].Vaporeon;
    	setTimeout( runPie(), 1000 ); //Delays running of the pie, it's delicious
    	setTimeout( runBar(), 1000 ); //Delays running of the bar. It can't run anyways. No legs.
    }


    //Javascript is weird about number comparison so apparently 81 < 121 is false....
    //I use the Number function to fix for this comparison
    function maxPoints() {
		max = Number(0);
    	for (var i = 0; i<data.length; i++) {
    		console.log(Number(data[i].points))
    		if(Number(data[i].points) > max) {
    			max = Number(data[i].points);
    		}
    	}
    	return max;
    }


    /* I honestly have no idea what most of this stuff does
	 * This runs the pie chart by taking in the mapped data set above
	 * function is called by printstuff()
     */
	function runPie(){
		//Defines the borders of the pie chart
		var width = 860,
		    height = 400,
		    radius = Math.min(width, height) / 2;

		//Defines the colors that are displayed
		var color = d3.scale.ordinal()
		    .range(["#FF6699", "#b6edef", "#5484f2"]); 

		var arc = d3.svg.arc()
		    .outerRadius(radius - 10)
		    .innerRadius(0);

		var labelArc = d3.svg.arc()
		    .outerRadius(radius - 80)
		    .innerRadius(radius - 80);

		var pie = d3.layout.pie()
		    .sort(null)
		    .value(function(d) { return d.points; });//name in data

		//denotes that this is ID "pie", sets location above
		var svg = d3.select("#pie").append("svg")
		    .attr("width", width)
		    .attr("height", height)
		  .append("g")
		    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

		//Self explanatory what this is
		var tooltip = d3.select('#pie')               
		  .append('div')                                                
		  .attr('class', 'tooltip');                               
		tooltip.append('div')                                           
		  .attr('class', 'Family');                            
		tooltip.append('div')                                           
		  .attr('class', 'points');                                     
		tooltip.append('div')                                           
		  .attr('class', 'percent');   

		//Count the data
		data.forEach(function(d) {
		        d.count = +d.count;
		      });

		var path = svg.selectAll('path')
		        .data(pie(data))
		        .enter()
		        .append('path')
		        .attr('d', arc)
		        .attr('fill', function(d, i) { 
		          return color(d.data.Family); 
		        });
		        
		path.attr("d", arc)
	      .style("fill", function(d) { return color(d.data.Family); });

		path.append("text")
	      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
	      .attr("dy", ".35em")
	      .text(function(d) { return d.data.Family; }); 

		//This does the hover box effect thing
		path.on('mouseover', function(d) {                            
	      var total = d3.sum(data.map(function(d) {                
	        return d.points;                                           
	      }));                                                        
	      var percent = Math.round(1000 * d.data.points / total) / 10; 
	      tooltip.select('.Family').html(d.data.Family);              
	      tooltip.select('.points').html(d.data.points);              
	      tooltip.select('.percent').html(percent + '%');             
	      tooltip.style('display', 'block');                          
	    });                                                           
		      
		path.on('mouseout', function() {                 
		  tooltip.style('display', 'none');                       
		});       

		var g = svg.selectAll(".arc")
		  .data(pie(data))
		  .enter().append("g")
		  .attr("class", "arc");

		g.append("text")
	      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
	      .attr("dy", ".35em")
	      .text(function(d) { return d.data.Family; });//family denotes name in data
		}


	/* I still have no idea what some of these things do
	 * This function is called by the printstuff that runs on console load
	 * 
	 */
	function runBar(){

	    var svg = d3.select("#bar").append("svg").attr("width", 400)
			    .attr("height", 400),
	        margin = {top: 20, right: 20, bottom: 50, left: 40},
	        width = +svg.attr("width") - margin.left - margin.right,
	        height = +svg.attr("height") - margin.top - margin.bottom;

	    var x = d3.scaleBand().rangeRound([0, width]).padding(0.1),
	        y = d3.scaleLinear().range([height, 0]);


	    var g = svg.append("g")
	        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
	    
	    //counts how many data points we have?
	    data.forEach(function(d) {
            d.count = +d.count;
	    });

	    //Domains of the bar graph
	    x.domain(data.map(function(d) { return d.Family; }));
	    y.domain([0, maxPoints()+10]);

	    //X axis labels
	    g.append("g")
	        .attr("class", "x axis")
	        .attr("transform", "translate(0," + height + ")")
	        .call(d3.axisBottom(x));
	        
	    //Y axis scale
	    g.append("g")
	        .attr("class", "y axis")
	        .call(d3.axisLeft(y).ticks(10));

	    //Y axis label
	    g.append("text")
	        .attr("transform", "rotate(-90)")
	        .attr("y", -45 )
	        .attr("x", 0 - (height / 2) )
	        .attr("dy", "1em")
	        .attr("text-anchor", "middle")
	        .style("fill", "black")
	        .text("Points");

	    //This runs the actual bars themselves. Otherwise it's just the axes
	    g.selectAll("#bar")
	        .data(data)
	        .enter().append("rect")
	        .attr("class", "bar")
	        .attr("x", function(d) { return x(d.Family); })
	        .attr("y", function(d) { return y(d.points); })
	        .attr("width", x.bandwidth())
	        .attr("height", function(d) { return height - y(d.points); });
	}


</script>

<script>
/* Begin Date Code
 * Used to hide events after their day because I'm lazy
 */
var today = new Date()
var dateGM = new Date("March 23, 2017")
var dateEvent = new Date()
var ev1 = new Date("March 25, 2017")
var ev2 = new Date("April 2, 2017")
var tea = new Date();
if(today.getTime()>dateGM.getTime()){
	$('#GM').hide();
}

if(today.getTime()>ev1.getTime()){
	$('#ev1').hide();
}
if(today.getTime()>ev2.getTime()){
	$('#ev2').hide();
}
//Remove Tea haus on weekends
if(today.getDay()==0 || today.getDay()==6) {
	$("#tea").hide();
}
/*End Date Code*/
</script>


<script>
/*Stuff for the main slide show*/
 
 $(window).load(function(){
	var saves = 4;
	var container = document.getElementById('container');
	var list = container.getElementsByTagName('li');
	setInterval(function() { 
		//Randomize and fix if random is the same as saves
		random = Math.floor(Math.random() * list.length);
		if (random == saves) {
			random = (random+1)%list.length;
		}

		$(list[saves]).fadeOut(1500).end().appendTo('#container');//Fade out the current picture
		$(list[random]).fadeIn(1500).end().appendTo('#container');//Fade in the random photo
		saves = random;//Save the random photo number
	},  4500);				
});
/*End of Slide Show*/
</script>


<script>
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";//change from "load" to "loaded"
		console.log("done");
		
		Tabletop.init( { key: URLKey,
                           callback: function(data, tabletop) { printstuff(data); },
                           simpleSheet: true } )
        }
</script>

</html>






