<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Taiwanese American Students Association | UT Austin</title>
	<link rel="stylesheet" href="../public/global.css">
	<link rel="shortcut icon" href="../public/favicon.ico">
		<style>
	.tooltip {
	  background: #eee;
	  box-shadow: 0 0 5px #999999;
	  color: #333;
	  display: none;
	  font-size: 12px;
	  left: 130px;
	  padding: 10px;
	  position: absolute;
	  text-align: center;
	  top: 95px;
	  width: 80px;
	  z-index: 10;
	}
	#pie {
  height: 500px;
  position: relative;
  width: 500px;
  float: left;
}
	#bar {
  height: 360px;
  position: relative;
  width: 360px;
  float: left;
}

.axis path {
	display: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.headban{
	font-size: 35px;
	color:red;
	text-align: center;
	font-family: Verdana;
}

	</style>

<script src="../js/d3-3.5.13.js"></script>
<script src = "../js/jquery-2.1.4.js"></script>
<script src="https:\\d3js.org/d3.v3.min.js"></script>
</head>
<body>
	<div class="main-container">
		<!-- HEADER STARTS HERE -->
		<header>
			<div class="wrap clearfix">
				<a id="logo" href="/">
					<img src="../images/logo/logo_inverse_2015.png" width="48px" height="48px">
					<span class="highlight">Taiwanese <span class="white">American</span> Students <span class="white">Association</span> </span>
				</a>
				<ul class="main-nav">
					<li><a class="nav-item" href="../views/about.html">About</a></li>
					<li><a class="nav-item" href="../views/calendar.html">Calendar</a></li>
					<li><a class="nav-item" href="../views/events.html">Events</a></li>
					<li><a class="nav-item" href="../views/alumni.html">Alumni</a></li>
					<li><a class="nav-item" href="../views/family.html">Family</a></li>
					<li><a class="nav-item" href="../views/food.html">Food</a></li>
				</ul>
			</div>
		</header>
		<!-- BODY CONTENT STARTS HERE -->
		<div class="body-content wrap clearfix home load" id="main-container">
			<div class="hero-image">
				<div class="overlay left">
					<div class="overlay-text">
						We are awesome.
						<br>
						So learn more <span class="highlight"><a href="../views/about.html">about</a></span> us.
					</div>
					<div class="triangle"></div>
				</div>

				<img id="hero-top" src="../images/hero/31.jpg" alt="">
			</div>

			<div class="overview-container">
				<div class="table clearfix">
					<div class="single">
						<div class = "headban"><a href = "../views/night-market.html"><b> Thank you to our Night Market Sponsors!
							<br>
							>Linked here<</b></a></div>
						<div class="section">Upcoming Events</div>
						<div class="overview-list-item clearfix" id="tea">
							<img src="../images/icon/bubble.png">
							<h2 class="title">
								Tea Haus Fundraiser!<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
								FRIDAYS ♥ 11AM - 2PM ♥ Jester Center</span>	
							<h2>
							<p class="subtext">
							Heard about the craze with Tea Haus but have no way of getting there?
							Don't fear because WE ARE BRINGING BACK TEA HAUS TO YOU! we'll be selling Tea Haus' Boba Milk Tea every Friday!
							1 for $3 and 3 for $5!</p>
						</div>

						<div class="overview-list-item clearfix" id="GM">
							<img src="../images/icon/GM1.jpg">
							<h2 class="title">
								Sixth General Meeting<br>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Wednesday, November 2nd</span>	
							<h2>
							<p class="subtext">
								Do your best carving pumpkins while competing against other families! Come out to get in the spirit of Halloween.
								</p>
						</div>

						<div class="overview-list-item clearfix" id="ev1">
							<img src="../images/icon/profle.png">
							<h2 class="title"><a href="https://www.facebook.com/events/305692399811605/">
								House of Torment<br></a>
								<span class="small-font light highlight" style="letter-spacing: -1px;">
									Friday, November 4th</span>	
							<h2>
							<p class="subtext">
								Ready to be terrified? House of Torment is back for another round! Hope you're prepared for horror as this year's even bigger than the last!
								</p>
						</div>


					</div>
				</div>

				<div class="table clearfix">
					<div class="half">
						<div class="section">Contacts</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/vc.jpg" alt="">
							<h2 class="title">Valentina Chen <span class="small-font light">President</span></h2>
							<p class="subtext">
								Send all general questions and fan-mail here
								<br>
								Email: tasa.president@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/mt.jpg" alt="">
							<h2 class="title">Max Tang <span class="small-font light">VP-Internal</span></h2>
							<p class="subtext">
								Direct all Junior Officer program and event questions here
								<br>
								Email: tasa.internal@gmail.com
							</p>
						</div>
						<div class="overview-list-item clearfix">
							<img src="../images/portrait/jl.jpg" alt="">
							<h2 class="title">Justin Liang <span class="small-font light">VP-External</span></h2>
							<p class="subtext">
								Delegate all cross-club inquires here
								<br>
								Email: tasa.external@gmail.com
							</p>
						</div>
					</div>
					<div class="half">
						<div class="section">Shoutouts<span class="highlight"></span></div>
						<div class="overview-list-item clearfix">
							<img src="../images/icon/shipwheel.png" alt="">
							<h2 class="title" style="color:#DF272C"><a href="http://itasa.org/">ITASA</a></h2>
							<p class="subtext">
								Want to get involved and connect with college students from across the country? Get started and build your own Taiwanese American community.
							</p>
						</div>
					</div>
				</div>

				<div class="table clearfix">
					<div class="single">
						<div class="section">Family Scoreboard</div>
					</div>
					<div class = "half">
						<div class="overview-list-item clearfix" id="pie"></div>
					</div>
					<!--<div class="half">
						<div class="overview-list-item clearfix" id="bar"></div>
					</div>-->
				</div>

				<div id="authorize-div" style="display: none">
			      <span>Authorize access to Google Sheets API</span>
			      <!--Button for the user to click to initiate auth sequence -->
			      <button id="authorize-button" onclick="handleAuthClick(event)">
			        Authorize
			      </button>
			    </div>
			    	<pre id="output"></pre>
				</div>
		</div>
		<!-- FOOTER STARTS HERE -->
		<footer>
			<div class="wrap clearfix table">
				<p class="footer-text">Taiwanese American Students Association 2015-2016</p>
				<div class="social-icon">
					<a href="https://twitter.com/uttasa">
						<img src="../images/logo/twitter.png" alt="Twitter">
					</a>
					<a href="https://www.facebook.com/texastasa">
						<img src="../images/logo/facebook.png" alt="Facebook">
					</a>
					<a href="http://www.youtube.com/channel/UC4tZCO4Es9JZaL4bm9lQPEw">
						<img src="../images/logo/youtube.png" alt="Youtube">
					</a>
					<a href="http://instagram.com/uttasa">
						<img src="../images/logo/instagram.png" alt="Instagram">
					</a>
				</div>
			</div>
		</footer>
	</div>
</body>

<script>

//TODO Add comments
    var CLIENT_ID = '447724460642-0r4ukjt5i7l2s1g8u9e13mg7tmh0733l.apps.googleusercontent.com';

      var SCOPES = ["https://www.googleapis.com/auth/spreadsheets.readonly"];

      //Check if authorized
      function checkAuth() {
        gapi.auth.authorize(
          {
            'client_id': CLIENT_ID,
            'scope': SCOPES.join(' '),
            'immediate': true
          }, handleAuthResult);
      }

      //Handles Authorization
      function handleAuthResult(authResult) {
        var authorizeDiv = document.getElementById('authorize-div');
        if (authResult && !authResult.error) {
          // Hide auth UI, then load client library.
          authorizeDiv.style.display = 'none';
          loadSheetsApi();
        } else {
          // Show auth UI, allowing the user to initiate authorization by
          // clicking authorize button.
          authorizeDiv.style.display = 'inline';
        }
      }

      function handleAuthClick(event) {
        gapi.auth.authorize(
          {client_id: CLIENT_ID, scope: SCOPES, immediate: false},
          handleAuthResult);
        return false;
      }

      //Load API library
      function loadSheetsApi() {
        var discoveryUrl =
            'https://sheets.googleapis.com/$discovery/rest?version=v4';
        gapi.client.load(discoveryUrl).then(getFamilyPoints);
        gapi.client.load(discoveryUrl).then(getFamilyPoints2);
        gapi.client.load(discoveryUrl).then(getFamilyPoints3);
        gapi.client.load(discoveryUrl).then(getFamilyPoints4);
        setTimeout(function(){runPie()}, 1000);//runPie goes too fast, must wait
       
      }

       var range;
       var row;
      function getFamilyPoints() {
        gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1fbGSzQo7aQRl6CdK1T2_Abk8i3CJkptnzzBqjWAmnX4',
          range: 'Umbreon!A2:B',
        }).then(function(response) {
          range = response.result;
            for (i = 0; i < range.values.length; i++) {
              row = range.values[i];
              // Print columns A and E, which correspond to indices 0 and 4.

              if(row[0]=="Total") {
                appendPre('Umbreon',row[1], 0);
              }
            }
        });
      }

      function getFamilyPoints2() {
		gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1fbGSzQo7aQRl6CdK1T2_Abk8i3CJkptnzzBqjWAmnX4',
          range: 'Jolteon!A2:B',
        }).then(function(response) {
          range = response.result;
            for (i = 0; i < range.values.length; i++) {
              row = range.values[i];
              if(row[0]=="Total") {
                appendPre('Jolteon',row[1], 1);
              }
            }
        });
      }

      function getFamilyPoints3(){
		gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1fbGSzQo7aQRl6CdK1T2_Abk8i3CJkptnzzBqjWAmnX4',
          range: 'Espeon!A2:B',
        }).then(function(response) {
          range = response.result;
            for (i = 0; i < range.values.length; i++) {
              row = range.values[i];
              if(row[0]=="Total") {
                appendPre('Espeon',row[1], 2);
              }
            }
        });
      }
      function getFamilyPoints4() {
		gapi.client.sheets.spreadsheets.values.get({
          spreadsheetId: '1fbGSzQo7aQRl6CdK1T2_Abk8i3CJkptnzzBqjWAmnX4',
          range: 'Flareon!A2:B',
        }).then(function(response) {
          range = response.result;
            for (i = 0; i < range.values.length; i++) {
              row = range.values[i];
              if(row[0]=="Total") {
                appendPre('Flareon',row[1], 3);
              }
            }
        });        
      }

	//Append thing
       var textContent = "";
       var data = [{"Family":"Blank", "points":"no"},
       {"Family":"Blank", "points":"no"},
       {"Family":"Blank", "points":"no"},
       {"Family":"Blank", "points":"no"}];

      function appendPre(message1, message2, num) {
        data[num].Family = message1;
        data[num].points = parseInt(message2)
    };

   function runPie(){
   	
      console.log(data);
	var width = 960,
	    height = 500,
	    radius = Math.min(width, height) / 2;

	var color = d3.scale.ordinal()
	    .range(["#686868", "#ffff00", "#d806a4", "#FF0C00"]);//change colors here

	var arc = d3.svg.arc()
	    .outerRadius(radius - 10)
	    .innerRadius(0);

	var labelArc = d3.svg.arc()
	    .outerRadius(radius - 80)//Changes size of chart
	    .innerRadius(radius - 80);

	var pie = d3.layout.pie()
	    .sort(null)
	    .value(function(d) { return d.points; });//name in data

	var svg = d3.select("#pie").append("svg")//denotes that this is ID "pie", sets location above
	    .attr("width", width)
	    .attr("height", height)
	  .append("g")
	    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

	var tooltip = d3.select('#pie')               
      .append('div')                                                
      .attr('class', 'tooltip');                               
    tooltip.append('div')                                           
      .attr('class', 'Family');                            
    tooltip.append('div')                                           
      .attr('class', 'points');                                     
    tooltip.append('div')                                           
      .attr('class', 'percent');   


	data.forEach(function(d) {
	        d.count = +d.count;
	      });

	var path = svg.selectAll('path')
	        .data(pie(data))
	        .enter()
	        .append('path')
	        .attr('d', arc)
	        .attr('fill', function(d, i) { 
	          return color(d.data.Family); 
	        });
	        
	path.attr("d", arc)
		      .style("fill", function(d) { return color(d.data.Family); });

	path.append("text")
		      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
		      .attr("dy", ".35em")
		      .text(function(d) { return d.data.Family; }); 

	path.on('mouseover', function(d) {                            
	        var total = d3.sum(data.map(function(d) {                
	          return d.points;                                           
	        }));                                                        
	        var percent = Math.round(1000 * d.data.points / total) / 10; 
	        tooltip.select('.Family').html(d.data.Family);              
	        tooltip.select('.points').html(d.data.points);              
	        tooltip.select('.percent').html(percent + '%');             
	        tooltip.style('display', 'block');                          
	      });                                                           
	      
	      path.on('mouseout', function() {                              
	        tooltip.style('display', 'none');                           
	      });       

	  var g = svg.selectAll(".arc")
	      .data(pie(data))
	    .enter().append("g")
	      .attr("class", "arc");

	  g.append("text")
	      .attr("transform", function(d) { return "translate(" + labelArc.centroid(d) + ")"; })
	      .attr("dy", ".35em")
	      .text(function(d) { return d.data.Family; });//family denotes name in data
	}
$("#hero-top").attr("src", "../images/hero/9" + Math.floor(Math.random() * 7) + ".jpg");


/*Begin Date Code*/
var today = new Date()
var dateGM = new Date("November 2, 2016")
var dateEvent = new Date()
var ev1 = new Date("November 4, 2016")
var tea = new Date();
if(today.getTime()>dateGM.getTime()){
	$('#GM').hide();
}

if(today.getTime()>ev1.getTime()){
	$('#ev1').hide();
}

if(today.getDay()==0 || today.getDay()==6) {
	$("#tea").hide();
}
/*End Date Code*/
</script>
<!--	Data code	-->
<script type="text/javascript">
 
</script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
<!--End data code-->


<script type="text/javascript">
	window.onload = function (){
		var p = document.getElementById("main-container");
		p.className = p.className + "ed";//change from "load" to "loaded"
		console.log("done");
	}
</script>
</html>






