<!DOCTYPE html>
<html>
<link rel="stylesheet" href="../public/global.css">

<script>
//stuff can also go here
</script>

<style>
#blue{
  color:blue;
}

.portrait img {
  border-radius: 93px;
}

.portrait img:first-child {
  position: absolute;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.portrait img:first-child:hover{
  opacity: 0;
  transition: opacity 0.5s ease;
}

.portrait h1 {
  margin-top: 5px;
}

.portrait p,
.portrait h1 {
  padding-left: 40px;
}

.portrait{
  cursor:pointer; cursor:hand;
}

.info{
  display:none;
}
</style>


<body>

    <div class="portrait picture3" id="blue">
      <img src="../images/portrait/ek.jpg">
      <img src="../images/portrait/ek-flip.jpg">
      <div><h1> Emily Kwong </h1></div>
      <p> Web JO </p>
    </div>

    <div class="parent">
        <div class="info">Nope</div>
    </div>

</body>

<!--import javascript-->
<script src = "../js/jquery-2.1.4.js"></script>
<script>
  var inf = "info";
  var filling = "Hello!"
  
  //This changes demonstrates console.log
  //Also demonstrates changing innerHTML and getting elements by designation (getElementByID)
  $(".picture1").click(function(){
    filling = document.getElementsByClassName("info");
    console.log(filling[0].innerHTML);
    filling[0].innerHTML = "Hello!"
  });

  //This demonstrates some javascript tools
  $(".picture2").click(function(){
    filling = document.getElementsByClassName("info");
    $(filling[0]).slideDown("slow");
  });

  //This demonstrates how similar this is to java
  //Also demonstrates parentNode
  var flag = 0;
  $(".picture3").click(function(){
    filling = document.getElementsByClassName("info");
    if(flag==0)
      {$(filling[0]).slideDown("slow"); flag=1;}
    else
      {$(filling[0]).slideUp("slow"); flag=0}
    console.log(filling[0].parentNode);
  });
</script>
</html>
